h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  font-weight: 700;
}


/** ----- font Setting (size & line height, weight etc) ---- **/
h1, .h1 {
    font-size: 32px;
    line-height: 44px;
    color: $white;
    @include tablet {
      font-size: 48px;
      line-height: 56px;
    }
}
h2, .h2 {
    font-size: 24px;
    line-height: 30px;
    color: $dark-300;
    @include desktop {
      font-size: 28px;
      line-height: 44px;
    }
    @include desktop-lg {
      font-size: 36px;
    }
}
h3, .h3 {
    font-size: 24px;
    line-height: 44px;
    color: $dark-300;
    @include tablet {
      font-size: 32px;
    }
}
h4, .h4 {
  font-size: 24px;
  line-height: 30px;
  color: $primary-color;
}
h5, .h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: $gray-400;
}
h6, .h6 {
  font-size: 16px;
  line-height: 24px;
  color: $primary-color;          
}
p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: $gray-400;
}
// font-size

// line-height

// font-weigh

