// fonts family
$primary-font: "Circular Std" !default;
// $secondary-font: ;

//  Color palette 
$white: #ffffff !default;
// Gray Shade 
$light-gray-100: #FAFAFA !default;
$light-gray-200: #F8F8F8 !default;
$light-gray-300: #E4E4E4 !default;
$light-gray-400: #F5F5F5 !default;
$light-gray-500: #EFEFEF !default;
$light-gray-600: #FBFBFB !default;
$gray: #B7B7B7 !default;
$gray-100: #C4C4C4 !default;
$gray-200: #BFBFBF !default;
$gray-300: #999999 !default;
$gray-400: #777777 !default;
// Dark Shade 
$black: #000000 !default;
$dark-200: #333333 !default;
$dark-300: #222222 !default;
$dark-400: #003135 !default;
// Purple Shade
$dark-purple: #33154B !default;
$dark-purple-200: #280A40 !default;
// Orange Shade
$orange: #FFAF00 !default;
// Declaring the primary color.
$primary-color: #FD3828 !default;

//border-color
$border-black: #000000 !default;
$border-gray: #595959 !default;
$border-gray-200: #777777 !default;
$border-light-gray-100: #ECECEC !default;
$border-light-gray-200: #D8D8D8 !default;
$border-light-gray-300: #E4E4E4 !default;
$border-primary: #FD3828 !default;